@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text-red {
	color: #ff0000;
}
