---
import Layout from '../layouts/Layout.astro';
import EventList from '../components/EventList.astro';
import Header from '../components/Header.astro';
---

<Layout>
  <Header />
  <main>
    <section id="about" class="about">
      <h2>About Us</h2>
      <p>
        We're a community of meat lovers, dedicated to the art of cooking and eating meat.
        We host regular "meatings" to share our passion and our plates.
      </p>
    </section>

    <section id="meatings" class="past-meatings">
      <h2>Past Meatings</h2>
      <EventList />
    </section>
  </main>
  <footer>
    <p>&copy; 2025 Meat Up</p>
  </footer>
</Layout>

<style>
  main {
    background-color: var(--carbon-black);
  }
  .about {
    min-height: 75svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--space-2xl) var(--space-l);
    max-width: 600px;
    margin: 0 auto;
  }

  .about h2 {
    font-size: var(--text-section);
    margin-bottom: var(--space-l);
  }

  .about p {
    font-size: var(--step-1);
    margin-bottom: var(--space-l);
  }

  .about a {
    text-decoration: underline;
  }

  .past-meatings {
    padding: var(--space-2xl) var(--space-l);
  }

  .past-meatings h2 {
    text-align: center;
    font-size: var(--text-section);
    margin-bottom: var(--space-l);
  }

  footer {
    text-align: center;
    padding: var(--space-l);
    margin-top: var(--space-2xl);
  }
</style>
