---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- TODO: create a favicon -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Meat Up</title>

		<!-- TODO: add description meta -->
		<meta name="description" content="" />

		<!-- TODO: Add Open Graph meta tags -->

		<!-- TODO: Add an Open Graph image -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
